.codex
.config/
.dartServer/
.flutter
.kilo/
/flutter
/uza_pos
/fluter impl
/uza_pos_flat_source
/uza_pos_source_clean.zip
/uza_pos_source_only.zip
/partner-portal/.next
/partner-portal/node_modules
/deploy/.active_color
